* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #08415c;
  color: #eee5e9;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  background: #08415c;
}

#logo_link {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#logo_link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img:hover {
    border-radius: 7px;
    border-color:#f08700; ;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: #eee5e9;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background: #f08700;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

/* SECTIONS */
.section {
  padding: 80px 40px;
}
.section img {
    width: 20rem;
    height: auto;
}

.section h2 {
  margin-bottom: 30px;
  color: #f08700;
}

/* HOME */
.home {
  text-align: center;
}

/* SERVICES */
.services-container {
  display: flex;
  gap: 20px;
}

.service-card {
  flex: 1;
  height: 180px;
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PORTFOLIO */
.portfolio-container {
  display: flex;
  gap: 20px;
}

.portfolio-item {
  flex: 1;
  height: 200px;
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT */
.about-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about-images {
    position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.about-photo {
  width: 150px;
  height: 150px;
  background: rgba(255,255,255,0.1);
}

.about-photo img {
    width: 160px;
    position: relative;
}

.about-photo img

.about-text {
  max-width: 500px;
}

/* CONTACT */
.contact-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
}

.contact-form button {
  background: #f08700;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.2);
}