
* {
    margin: 10px 20px;
    padding: 0;
}
body {
    background: brown;
    border-radius: 4px solid;
}

#logo_link {
    margin: 0;
    padding: 0;
}

nav a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline;
}

nav a::after {
    display: flex;
    content: '';
    width: 100%;
    height: 3px;
    background: green;
    position: absolute;
    left: 0;
    bottom: -6px;
}

img {
    width: 150px;
    height: auto;
    border: 4px solid;
    box-sizing: border-box;
}