/*https://coolors.co/f08700-08415c-cc2936-6b818c-eee5e9*/

* {
    margin: 10px 20px;
    padding: 0;
}
body {
    background:  #08415c;
    border-radius: 4px solid;
}

header {
  display: flex;
  justify-content: space-between; /* logo à gauche, nav à droite */
  align-items: center;            /* alignement vertical */
  padding: 10px 20px;
}

nav a {
    position:relative;
    margin-left: 20px;              /* espacement entre les liens */
    text-decoration: none;
    color: #eee5e9;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    left: 5rem;
    bottom: 5rem;
}

nav a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #f08700;
    left: 0;
    bottom: -6px;

}

img {
    position: relative;
    width: 150px;
    height: auto;
     border-radius: 50%;
     object-fit: cover;
    box-sizing: border-box;
    right: 5rem;
    bottom: 3rem;
}